$color-charcoal: #323232;
$color-white: #fff;
$color-warning-orange: #ed710b;
$color-qantas-red: #ee0000;
$color-dark-red: #ba0000;
$color-focus-red: #870000;
$color-bay-blue: #8de2e0;
$color-grey: #dadada;
$color-dim-gray: #666666;
